.about-me{
  position: relative;
  z-index: 20;
  background: linear-gradient(to right, #efeee9 50%, #eeebdf 50%); //понимаю, что так нельзя, но как еще закрасить весь бэкгарунд


.container__about-me{
  display: flex;
  flex-direction: row;
  ;

  @include laptop{
    flex-direction: column;
    width: 100%;
  }

}
.container_adapt{
    @include laptop{
      width: 750px;
      margin: 0 auto;
      padding-top: 20px;
    }

   @include tablets{
    width: 480px;

    @include phones {
      width: 320px;
    }
  }
}

}
.about-me__about{
  width: 50%;
  padding: 10px;
  background: #efeee9;


  @include laptop{
    width: 100%;


  }

  @include tablets{
    width: 100%;
  }

}


.about-me__good{
  width: 50%;
  padding: 10px 50px 50px;
  background: #eeebdf;

  @include tablets{
    width: 100%;
  }



}

.about-me__left{
  display: flex;
  flex-direction: row;

  @include _1670{
    flex-direction: column;
    align-items: center;
  }


}

.about-me__back{
  position: relative;
  fill: $light-gray;
  fill-opacity: 0.1;
  height: 200px;
  text-align: center;

  svg{
    width: 450px;

    @include phones{
      width: 320px;
    }
  }



  @include laptop{
    margin: 0 auto;
  }


}


.about-me__header{
  text-align: center;
  width: 250px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @include phones{
    font-size: 50px;
  }
  }

.about-me__description{


  @include laptop{
    margin: 0 auto;
  }

  @include tablets{
    width: 100%;
  }


}


.about-me__photo{
  height: 400px;
  overflow: hidden;
  margin: 10px 0 40px 10px;

  @include _1670{
    height: 500px;
    text-align: center;
  }

  @include phones{
    height: 400px;
  }

  img{

    object-fit: contain;
  }
}
.description__header{
  text-align: center;
  width: 100px;
}

.description__p{
  padding: 0 40px 0 0;

  @include tablets{
    padding: 0;
  }
}

.good__header{
  width: 320px;
  text-align: center;
  margin: 0 auto;
}

.skills{
  font-family: Roboto-Bold;
  font-size: 25px;
  color:$dark-gray;
}

.good__skills{
  @include tablets{
    text-align: center;
  }
}

.skills__item{
  font-size: 0;
  padding-top: 16px;
  margin-bottom:16px;
  margin-left: -22px;
}
.skills__li{
  font-family: Roboto-Regular;
  color: $light-green;
  font-size: 16px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin: 0 0 22px 22px;

  }

.skills__name{
  font-size: 14px;
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);

}

.skills__circle{
  fill: none;
  stroke-width: 25;
  width: 130px;

}

.circle__in{
  transition: all 20s;
}

$radius : 50;
$fullCircle: 2*3.14*$radius;



.circle__html {
  stroke-dasharray: $fullCircle*0.9 $fullCircle;
}

.circle__css {
  stroke-dasharray: $fullCircle*0.8 $fullCircle;
}

.circle__js{
  stroke-dasharray: $fullCircle*0.6 $fullCircle;
}

.circle__php{
  stroke-dasharray: $fullCircle*0.1 $fullCircle;
}
.circle__mysql{
  stroke-dasharray: $fullCircle*0.6 $fullCircle;
}
.circle__node{
  stroke-dasharray: $fullCircle*0.1 $fullCircle;
}

.circle__mongo{
  stroke-dasharray: $fullCircle*0.05 $fullCircle;
}

.circle__git{
  stroke-dasharray: $fullCircle*0.5 $fullCircle;
}

.circle__gulp{
  stroke-dasharray: $fullCircle*0.6 $fullCircle;
}

.circle__bower{
  stroke-dasharray: $fullCircle*0.4 $fullCircle;
}






