%clearfix{
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

%border_rad{
	border-radius: 50%;
	overflow: hidden;
}

html{
	font-size: 16px;
	
	@include laptop {
		font-size: 15px;
	}

	@include tablets {
		font-size: 14px;
	}
	
	@include phones {
		font-size: 13px;
	}
	
}

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}



html, body {
	width: 100%;
	min-width: 1100px;
	height: 100%;

	@include desktop {
		min-width: 970px;
	}

	@include laptop {
		min-width: 750px;
	}

	@include tablets {
		min-width: 480px;
	}

	@include phones {
		min-width: 320px;

	}

}


// .firstbody{
//height: 100%;
//}

.wrapper{

    min-height: 100%;
	overflow: hidden;
    margin-bottom: -162px;

	@include laptop{
		margin-bottom: -190px;
	}

	@include tablets{
		margin-bottom: -120px*2;
	}

	@include phones{
		margin-bottom: -256px;
	}

  &:after {
    content: '';
    display: block;
    height: 162px;

  	@include laptop{
		height: 190px;
	}

    @include tablets {
      height: 120px*2
    }

    @include phones {
      height: 256px;
    }
  }
}

.content {
	margin-bottom: -162px;

	@include laptop{
		margin-bottom: -190px;
	}

	@include tablets {
		margin-bottom: -120px*2;

	}

    @include phones{
      margin-bottom: -256px;
    }
}

.container{
	width: 90%;
	margin: 0 auto;
	position: relative;
  	@extend %clearfix;

        @include desktop{
          width: 970px;
        }

		@include laptop {
			width: 750px;
		}

		@include tablets {
			width: 480px;
		}
				
		@include phones {
			width: 320px;
		}
}

ul{
	list-style-type: none;
	padding-left:0;
}

img{
	max-width: 100%;
}

.big-header{
	font-size: 58px;
	font-family: BERNIERRegular;
	margin: 0 auto 70px auto;
    color: $dark-gray;
    position: relative;

	&:before, &:after{
		content: '-';
		opacity: .2;
		margin: 0 20px;
        display: inline-block;
		position: absolute;
	}

  &:before{
    top:0;
    left: -40px;
  }

  &:after{
    top:0;
    right: -40px;
  }
}

.header_decor{
	font-size: 35px;
	font-family: BERNIERRegular;
    font-weight: 300;
	color: $light-gray;
	margin: 0 auto 40px auto;
    position: relative;

	&:before, &:after{
		content: '-';
		opacity: .2;
		margin: 0 20px;
        display: inline-block;
        position: absolute;
    }
    &:before{
      top:0;
      left: -40px;
    }

    &:after{
      top:0;
      right: -40px;
    }

}

.text{
  color:$dark-gray;
  font-family: Roboto-Regular;
  line-height: 1.5;
}


.triangle{
 width: 100%;
  @extend %clearfix;
  position: absolute;
  top: -149px;

		@include laptop{
		top: -160px;
		}

	  @include tablets{
		top:-171px
	  }

		@include phones{
		top: -184px;
		}
}
.triangle-item{
  width: 50%;
}

.triangle__left{
  float: left;
	margin-right: -2px;
}
.triangle__right{
  float: right;
}

.svg__left, .svg__right{
  	width: 100%;
	display: block;
}


//для страницы about
.svg__left_about{
	fill:#efeee9;
}

.svg__right_about{
  fill:#eeebdf;
  @include laptop{
    fill:#efeee9;
  }
}

//для страницы works

.svg__left_works,.svg__right_works{
  fill:#faf8f0;

}

//для блога
.svg__left_blog,.svg__right_blog{
  fill: #fff;
}

.empty{
	height: 300px;
}

