%clearfix{
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

%border_rad{
	border-radius: 50%;
	overflow: hidden;
}

html{
	font-size: 16px;
	
	@include laptop {
		font-size: 15px;
	}

	@include tablets {
		font-size: 14px;
	}
	
	@include phones {
		font-size: 13px;
	}
	
}

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

html, body {
	width: 100%;
	height: 100%;
}

.wrapper{
	position: relative;
	min-height: 100%;
	overflow: hidden;
	margin-bottom: -157px;

	&:after{
		content: "";
		display: block;
		height: rem(157px);
		min-width: rem(960px);
}
}

.maincontent{
	min-height: 100%;
	padding-bottom: rem(50px);
}

.container{
	width: 95%;
	margin: 0px auto;
	@extend %clearfix;

		@include laptop {
			width: 90%;
		}

		@include tablets {
			width: 480px;
		}
				
		@include phones {
			width: 320px;
		}
}

ul{
	list-style-type: none;
	padding-left:0;
}

.big-header{
	font-size: 63px;
	font-family: BERNIERRegular;
	margin: 0 auto 70px auto;
    color: $light-gray;

	&:before, &:after{
		content: '-';
		opacity: .2;
		margin: 0 20px;
        display: inline-block;
	}
}

.header_decor{
	font-size: 35px;
	font-family: BERNIERRegular;
	color: $light-gray;
	margin: 0 auto 40px auto;
    position: relative;

	&:before, &:after{
		content: '-';
		opacity: .2;
		margin: 0 20px;
        display: inline-block;
        position: absolute;
    }
    &:before{
      top:0;
      left: -40px;
    }

    &:after{
      top:0;
      right: -40px;
    }

}

.text{
  color:$dark-gray;
  font-family: Roboto-Regular;
  line-height: 1.5;
}

