%clearfix{
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

%border_rad{
	border-radius: 50%;
	overflow: hidden;
}

html{
	font-size: 16px;
	
	@include laptop {
		font-size: 15px;
	}

	@include tablets {
		font-size: 14px;
	}
	
	@include phones {
		font-size: 13px;
	}
	
}

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}



html, body {
	width: 100%;
    min-width: 1400px;
	height: 100%;
}


.firstbody{
  height: 100%;
}

.wrapper{
    min-height: 100%;
	overflow: hidden;
    margin-bottom: -157px;

  &:after{
    content:'';
    display: block;
    height: 157px;
  }

}





.container{
	width: 1400px;
	margin: 0 auto;
	position: relative;

	@extend %clearfix;

		@include laptop {
			width: 90%;
		}

		@include tablets {
			width: 480px;
		}
				
		@include phones {
			width: 320px;
		}
}

ul{
	list-style-type: none;
	padding-left:0;
}

.big-header{
	font-size: 58px;
	font-family: BERNIERRegular;
	margin: 0 auto 70px auto;
    color: $dark-gray;
    position: relative;

	&:before, &:after{
		content: '-';
		opacity: .2;
		margin: 0 20px;
        display: inline-block;
		position: absolute;
	}

  &:before{
    top:0;
    left: -40px;
  }

  &:after{
    top:0;
    right: -40px;
  }
}

.header_decor{
	font-size: 35px;
	font-family: BERNIERRegular;
    font-weight: 300;
	color: $light-gray;
	margin: 0 auto 40px auto;
    position: relative;

	&:before, &:after{
		content: '-';
		opacity: .2;
		margin: 0 20px;
        display: inline-block;
        position: absolute;
    }
    &:before{
      top:0;
      left: -40px;
    }

    &:after{
      top:0;
      right: -40px;
    }

}

.text{
  color:$dark-gray;
  font-family: Roboto-Regular;
  line-height: 1.5;
}
//лучше места не нашлось..
.top__left{
	position: absolute;
	top: -200px;
	right: 50%;
	z-index: 0;
}

.top__right{
	position: absolute;
	top: -200px;
	left: 50%;
	z-index: 0;
}

