//colors
$light-green:#00bfa5;
$dark-green:#009688;
$light-gray:#455a64;
$dark-gray:#373e42;
$white:#fff;

//fonts
$h1: 63px ;
$subh: 35px Roboto-Regular;



@import "fonts.scss";
@import "sprite.scss";
@import "mixins.scss";
@import "adjustment.scss";
@import "sprite.scss";
@import "parallax.scss";
@import "first-page.scss";
@import "header.scss";
@import "footer.scss";
@import "about_me.scss";
@import "map.scss";
@import "contacts.scss";
@import "my_works.scss";
@import "my_work__talk.scss";
@import "slider.scss";
@import "my_work__form.scss";
@import "header_blog.scss";
@import "blog.scss";
@import "auth.scss";
@import "preloader";
@import "modal";
@import "tooltip.scss";
