//colors
$light-green:#00bfa5;
$dark-green:#009688;
$light-gray:#455a64;
$dark-gray:#373e42;
$white:#fff;

//fonts
$h1: 63px ;
$subh: 35px Roboto-Regular;



@import "fonts.scss";
@import "font-awesome.scss";
@import "mixins.scss";
@import "adjustment.scss";
@import "first-page.scss";