.blog{
  position: relative;
  z-index: 20;
  padding-bottom: 162px;
  }

.container__blog{
  padding: 44px 0 70px 0;
  font-size: 0;

}
.blog-menu__lift{
  margin: 0;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  position: relative;

  @include tablets{
    position: absolute;
    left: -999px;
  }
}


.blog__menu{
  //для перехода на fixed
  left:16.5%;
  top:20px;
  transition: 1s;

  @include tablets{
    position: absolute;
    left: -999px;}
  }


.blog__column{
  padding: 0 100px ;
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 16px;

   @include tablets{
     width: 100%;
     padding: 0 10px;
   }
}

.blog__nav{
  text-align: right;
  //position: fixed;
  left: 10%;

  @include phones{
    position: absolute;
  }

}

.blog__li{
  border-right: 3px solid transparent;
  font-family: Roboto-Medium;

  }

.blog__li_active{
  color:$light-green;
  border-right-color:$light-green;
}

.blog__link{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 12px;
  margin-bottom: 10px;
}

.blog__article{
  margin-bottom: 66px;

  &:after{
    content: '';
    display: block;
    height: 4px;
    width: 70%;
    background: #eee;

    @include tablets{
      width: 100%;
    }

  }

  &:last-child{
    &:after{
      display: none;
  }
  }
}

.article__header{
  margin-bottom: 20px;

  &:before, &:after{
    display: none;
  }

}

.article__date{
  display: block;
  margin-bottom: 22px;
  color:$light-green;
}

.article__text{
  line-height: 1.5;
  margin-bottom: 60px;
}

.blog__trigger{
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  background: $light-green;
  top: 50vh;
  left: -20px;
  border-radius: 50%;
  visibility: hidden;

  @include tablets{
    visibility: visible;

    &:hover{
      box-shadow: 0 0 20px $light-green;
    }
  }

}

