.blog{
  position: relative;
  z-index: 20;
  @extend %clearfix;


}

.container__blog{
  padding: 100px 0 50px 0;

}

.blog__menu{
  margin: 0;
  width: 350px;
  margin-right: 120px;
  display: inline-block;
  vertical-align: top;
}

.blog__column{
  display: inline-block;
  vertical-align: top;
  width: 980px;
}

.blog__nav{
  text-align: right;

}

.blog__li{
  border-right: 3px solid transparent;
  font-family: Roboto-Medium;

  }

.blog__li_active{
  color:$light-green;
  border-right-color:$light-green;
}

.blog__link{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 12px;
  margin-bottom: 10px;
}

.article__header{
  &:before, &:after{
    content: '';
  }

}

.article__date{
  color:$light-green;
}

.article__text{
  line-height: 1.5;
}

