.wrapper_first{
  width: 100%;
  height:100%;
  position: relative;
  overflow: hidden;
  background: url("../img/parallax/layer1.png");
  background-size: cover;


  @include phones{
    min-height: 570px;
  }
}

.firstpage__container{
  height:100%;
  position: relative;
  perspective: 1000px;
 }

.userbox{
  width:380px;
  background: rgba($white, .8);
  padding-top: 37px;
  border-radius: 5px;
  //overflow: hidden;
  transition: all 1s;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 40;



  @include phones{
    width: 100%;
  }
  }



.userbox_js{
  transform: translateX(-50%) translateY(-50%)rotateY(0deg);
  transition: all 2s;
  opacity: 1;
}

.userbox_hide{
  transition: all 1s;
  transform: translateX(-50%) translateY(-50%) rotateY(180deg);
  z-index: 20;
  opacity: 0;

}

@-moz-document url-prefix() {
  .userbox{
    transition: all 400ms ;
  }


  .userbox_js{
    transform: translateX(-50%) translateY(-50%)rotateY(0deg);
    transition: all 2s;
    opacity: 1;
    z-index: 40;
  }

  .userbox_hide{
    transition: all 300ms;
    transform: translateX(-50%) translateY(-50%) rotateY(-180deg);
    z-index: 20;
    opacity: 0;


  }

}


.userbox__img{
    @extend %border_rad;
    width:148px;
    height:148px;
    margin: 0 auto;
      img{
        width:100%;
    }
}

.userbox__header{
  text-align: center;
  font-size: 26px;
  font-family: 'Roboto-Regular';
  color: $dark-gray;
  margin-top: 40px;
  margin-bottom: 8px;


}

.userbox__descr{
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto-Regular';
  color: $light-gray;
  opacity: .5;
  margin-top: 0;
  margin-bottom: 30px;

}

.socicon__menu{
  margin: 0 auto 34px;
  text-align: center;
  word-spacing: 20px;

 }

.socicon__li{
  display: inline-block;
  vertical-align: bottom;

 }

.socicon__a{
  fill: $light-green;
  display: block;
  text-align: center;


  svg{
    width: 45px;
    height: 25px;


  }

  &:hover{
    fill: $dark-green;
  }
}

.socicon_hidden{
  display: none;
}

.userbox__tabs{
  margin: 0;
  display: flex;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
 }

.userbox__tab-el{
  background: $light-green;
  text-align: center;
  flex: 1;

  border-right: 1px solid $white;

    &:last-child{
      border: none;
    }

.Utab__link{
    display: block;
    padding: 14px;
    font-size:16px;
    font-family: Roboto-Regular;
    color: $white;
    text-decoration: none;
}

  &:hover{
    background: $dark-green;
  }
}

.author{
  display: block;
  border:1px solid $white;
  font-family: Roboto-Regular;
  color: $white;
  padding:10px;
  width:182px;
  position: absolute;
  top:20px;
  right:20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;

  &:hover{
    background: $white;
    color:$light-green;
  }
}

.copyright{
  position: absolute;
  bottom: 40px;
  width:100%;
  text-align: center;
  font-family: Roboto-Light;
  color: $white;
align-self: flex-end;

}