.footer{
  background: #000;
  opacity: .75;
  height: 157px;
  position: relative;
  z-index: 20;

  @include laptop{
    height: 190px;
  }

  @include tablets{
    height: 120px*2;
    }

  @include phones{
    height:256px;
  }

  }


.footer__top{
  border-bottom: 1px solid $light-gray;
  @extend %clearfix;

}

.footer-nav__item{
  font-size: 0;
  float: left;
  padding: 30px 0;


  @include tablets{
    float: none;
    text-align: center;
    padding-bottom: 20px;

  }


  @include phones{
    padding:10px 0;
  }
}

.footer-nav__li{
  font-size: 16px;
  display: inline-block;
  padding: 0 20px;

  @include phones{
    padding: 0 10px 10px 0;
  }

  &:first-child{
  padding-left: 0;
  }

  &:last-child{
    padding-right: 0;
  }



  &:hover .footer-nav__a{
    color: $light-green;
  }
}

.footer-nav__a{
  color:$white;
  text-decoration: none;
}

.footer__socicon{
  float: right;
  margin: 0;
  padding: 20px 0;
  font-size: 0;

  @include tablets{
    float: none;
    text-align: center;
    padding: 10px 0;
  }
}

.footer-socicon__li{
  display: inline-block;
 }

.footer-socicon__a {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  //width: 40px;
  //height: 40px;
  position: relative;


  svg{
  width: 40px;
  height: 40px;
  fill: #000;
  background: $white;
  fill-opacity: 1;
  border: 1px solid $white;
    border-radius: 50%;
    transition: 300ms;

    &:hover{
      background: transparent;
      fill: $white;
      transition: 300ms;
    }

  }

  @include tablets {
    margin-left: 15px;
  }


  &:before{
    content:" ";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  
  }


}

.footer__bottom{
  color: $white;
  opacity: .3;
  font-family: Roboto-Light;
  @extend %clearfix;
  padding: 20px 0;

  }

.footer__who{
  float: left;
  width: 510px;

  @include laptop{
    float: none;
  }

  @include tablets{
    width: 100%;
    text-align: center;
  }
  }

.footer__copyright{
  float: right;
  line-height: 2;

  @include laptop{
    float: none;
  }

  @include tablets{
    margin: 0 auto;
    text-align: center;
  @include phones{
    line-height: 1.5;
  }
  }

}

