.header_blog{
  padding: 0;
  background-position: 50% 20%;
}

.header__container_blog{
  padding: 76px 0 5px 0;
}

.header__user-header_blog{
  font-size: 63px;
  width: 200px;
  text-align: center;
  margin-bottom:2px;
  color: $white;
  line-height: 1;

}

.header__user-foto_blog{
  margin-bottom: 20px;
}

.header__user-descr_blog{
  margin-top: 0;
}

.inner__link_blog{
  margin-bottom:60px;
}