.header_blog{
  //background: url('../img/just/mountains_without_parallax.png');
  background-size: cover;
  padding: 0;
  background-position: 50% 20%;
  height: 70vh;

}

.header__container_blog{
  padding: 76px 0 5px 0;
  height: 100%;

  @include tablets{
    padding-bottom: 100px;
  }
}

.header__background_blog{
  //@extend .icon-blog_header;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: $white;
  fill-opacity: 0.2;

  svg{
    width: 500px;
  }

}

.header__user-header_blog{
  font-size: 63px;
  width: 200px;
  text-align: center;
  margin-bottom:2px;
  color: $white;
  line-height: 1;

}

.header__user-foto_blog{
  margin-bottom: 20px;
}

.header__user-descr_blog{
  margin-top: 0;
}

.inner__link_blog{
  margin-bottom:60px;
}

.saggit_blog{
  visibility: hidden;

  @include tablets{
    visibility: visible;
  }
}