.header{
  width:100%;
  //height:100vh;
  height: 100%;
  background: url('../img/just/mountains_without_parallax.png') no-repeat;
  background-size: cover;
  position: relative;
  }

.header__container{
  padding:145px 0 48px 0;

}

.header__background{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: $white;
  fill-opacity: .3;
  text-align: center;

  svg{
   width: 1000px;
  }



  @include tablets{
    display: none;
  }
}

.index__link{
  display: block;
  width: 380px;
  text-decoration: none;
  margin: 0 auto 115px;
  position: relative;
  z-index: 40;

  @include phones{
    width: auto;
  }
}


.header__user-photo{
  @extend %border_rad;
  width:140px;
  height:140px;
  margin: 0 auto;
  img{
    width:100%;}
}

.header__user-header {
  text-align: center;
  font-size: 32px;
  font-family: 'Roboto-Regular';
  color: $white;
  margin-top: 28px;
  margin-bottom: 10px;
}

.header__user-descr{
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto-light';
  color: $white;
  opacity: .7;
  margin:0;
}

.header__socicon-header{
  position: absolute;
  top:0;
  left:20px;
}


.socicon-header__li {
  display: inline-block;

  svg{
    width: 50px;
    height: 30px;
  }
 }

.socicon-header__a, .hamburger{
  display: block;
  padding: 10px 10px 10px 15px;
  color: $white;
  fill: $white;
  opacity: .7;

  &:hover{
    opacity: 1;
  }
}

.hamburger{
  position: absolute;
  top:20px;
  right:20px;

  svg{
    width: 40px;
    height: 40px;
  }
}

.saggit{
  display: block;
  width: 70px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  fill: $white;
  opacity: .7;
  position: relative;
  z-index: 40;

  svg{
    width: 40px;
    height: 40px;
  }
   &:hover {
    opacity: 1;
  }
}









