.modal{
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 60;
  top:0;
  left:0;
  opacity: 0.8;
  @extend %clearfix;
}


.modal__nav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  margin: 0 auto;
  text-align: center;
  color: $white;
  text-decoration: none;
  opacity: 0;
  animation-name: text;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.modal__link{
  color: $white;
  opacity: 0.8;
  display: block;
  text-decoration: none;

  &:before, &:after{
    color: transparent;
  }

  &:hover{
    opacity: 1;
  &:before, &:after{
    color: $white;
    opacity: 1;
  }
  }
}

.modal_left{
  width: 0%;
  height: 100vh;
  float: left;
  background: $light-green;
  animation-name: modal;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

.modal_right{
  width: 0%;
  height: 100vh;
  float: right;
  background: $light-green;
  animation-name: modal;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes modal {
  from{
    width: 0;
  }
  to{
    width: 50%;
  }
}

@keyframes text{
  from{
    opacity: 0;
  }
  to{
    opacity: 100;
  }
}

.cross{
    display: block;
    position: absolute;
    top:30px;
    right: 30px;
    width: 40px;
    height: 40px;
    stroke: $white;
    stroke-opacity: 0.7;

  &:hover{
    stroke-opacity: 1;
  }

    @include phones{
      width: 30px;
      height: 30px;
    }
}


