.modal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 60;
  top:0;
  left:0;
  @extend %clearfix;
  animation-name: modal;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  transition: all 1s;
}


.modal__nav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  margin: 0 auto;
  text-align: center;
  color: $white;
  text-decoration: none;

}

.modal__link{
  color: $white;
  opacity: 0.8;
  display: inline-block;
  text-decoration: none;

  &:before, &:after{
    color: transparent;
  }

  &:hover{
    opacity: 1;

    &:before{
      left:-70px;
    }

    &:after{
      right: -70px;
    }

  &:before, &:after{
    color: $white;
    opacity: 1;
  }
  }
}


@keyframes modal {
  from{
    box-shadow: 0 0 0  $light-green inset,
                0 0 0  $light-green inset;

  }
  to{
    box-shadow: 50vw 0 0  $light-green inset,
                -50vw 0 0 $light-green inset;
  }
}

@keyframes modal-back {
  from{
    box-shadow: 50vw 0 0  $light-green inset,
                -50vw 0 0 $light-green inset;

  }
  to{
    box-shadow: 0 0 0  $light-green inset,
                0 0 0  $light-green inset;
  }
}

.container__cross{
  text-align: right;
  padding: 30px 50px;
}

.cross{
    stroke: $white;
    stroke-width: 6;
    stroke-opacity: 0.7;

  svg{
    width: 40px;
    height: 40px;

    @include laptop{
      width: 30px;
      height: 30px;
    }
  }

  &:hover{
    stroke-opacity: 1;
  }

}


