.my-work{
  position: relative;
  background: #f0efe9;
}

.my-work__headerbox{
  padding: 55px 0;
  background: #faf8f0;
}

.my-work__header{
  text-align: center;
  margin: 0 auto;
  width: 300px;
}

.my-works__slider{
  background: #f0efe9;
}

.slider__item{
  white-space: nowrap ;
  margin: 0;
}

.slider__li{
  display: inline-block;
  vertical-align: top;
  padding: 20px 40px;
}

.slider__left, .slider__right{
  display: inline-block;
  vertical-align: middle;
}

.slider__left{
  width: 516px;
}

.slider__right{
  white-space: normal;
  padding: 0 40px;
}

.about-work__header{
  width: 260px;
  font-family: BERNIERRegular;
  font-size: 30px;
  color:$dark-gray;
}

.about-work__tech{
  color:$light-green;
  font-family: Roboto-Regular;
  text-transform: uppercase;
  border: 1px solid $light-green;
  border-left-color: transparent;
  border-right-color: transparent;
  padding: 20px 0;
  margin-bottom: 40px;
}

.about-work__link{
  display: block;
  text-decoration: none;
  color: $white;
  background:$light-green;
  width: 200px;
  padding: 15px;
  border-radius: 5px;

  &:hover{
    background: $dark-green;
  }
}

.about-work__icon, .about-work__text-link{
  display: inline-block;
  vertical-align: middle;
}
.about-work__icon{
  margin-right: 10px;
}
