.form__wrapper{
  overflow: hidden;
  position: relative;
  width: 380px;
  margin: 0 auto 50px auto;
  border-radius: 5px;

  @include phones{
    width: auto;
  }

}

.form-blur{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url('../img/just/bgabout.png')no-repeat;
  background-position: center -600px;
  //background-size: cover;
  filter: blur(20px);
  border-radius: 5px;

  @include laptop{
    background-position: center -650px;
  }

  @include tablets{
    background-position: center -700px;
  }

  @include phones{
    background-position: center -850px;
  }
}


.form__connect{
  width: 380px;
  padding-top: 38px;
  position: relative;
  z-index: 10;



  @include phones{
    width: auto;
  }
}

.block__input-conn{
  padding: 0 18px 16px 18px;

}

.input__wrapper{
  position: relative;
}

.form-connect__el{
  display: block;
  width: 100%;
  margin-bottom: 22px;
  border-radius: 5px;
  padding-left:20px;
}

.header__form{
  text-align: center;
  width: 280px;
  margin-bottom: 32px;

}

.conn__input{
  height: 44px;
  border: none;

  &:focus{
    outline: none;
    box-shadow: inset 0 0 5px $light-green;
  }
}


.conn__textarea{
  height: 140px;
  padding-top: 12px;
  margin-bottom: 0;
  border: none;
  overflow: auto;
  resize: none;

  &:focus{
    outline: none;
    box-shadow: inset 0 0 5px $light-green;
  }
}

.block__button-conn{
  font-size: 0;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}


.conn__button{
  display: inline-block;
  background: $light-green;
  vertical-align: top;
  border-radius: 0;
  width: 50%;
  padding: 16px 0;
  margin-bottom: 0;
  font-size: 16px;
  color: $white;
  border: none;
  cursor: pointer;
  outline: none;

    &:first-child{
      border-right: 1px solid rgba($white,.3);
    }
    &:last-child{
      border-left: 1px solid rgba($white, .3);
    }

    &:hover{
      background: rgba($dark-green, .5);
    }

}


