.my-work__talk{
  background: url('../img/just/bgabout.png') no-repeat;
  background-size: cover;
  padding: 63px 63px 60px+157px 63px;

  @include tablets{
    padding:63px 0 60+120*2px 0 ;
  }

  @include phones{
    padding: 63px 0 60+256px 0  ;
  }
}

.my-talk__container{
  margin: 0 auto;

}

.talk__back{
  //@extend .icon-about_header;
  margin: 0 auto 60px auto;
  position: relative;
  fill: $light-gray;
  fill-opacity: 0.2;
  text-align: center;

  svg{
    width: 500px;
  }
}

.talk__header{
  width: 400px;
  text-align: center;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}

.talk__item{
  width: 380*2+22*2px;
  margin: 0 auto 62px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include tablets{
    width: auto;
  }

  @include phones{
    flex-direction: column;

  }

}

.talk__li{
  width: 380px;
  display: flex;
  flex-direction: column;

  @include tablets{
    width: 45%;
     }

  @include phones{
    width: 100%;
  }
}

.cite__img{
  width: 80px;
  height: 80px;
  @extend %border_rad;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  flex: 1 1 0;

  img{
    width: 100%;
    object-fit: contain;
  }
}

.talk__cite {
  margin: 0 0 20px 0;
  flex: 1 1 0;

  &:before{
    display: block;
    content: " ";
    width: 33px;
    height: 29px;
    background-image: url('../img/sprite.png');
    background-position: -2344px -363px;
    margin-bottom:28px;

  }

  cite{
  line-height: 1.5;
    font-style: normal;

}
}

.cite__who{
  display: inline-block;
  vertical-align: middle;
  color: $light-green;
}
.who__name{
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 1.5;
}

.saggit_up{
  transform: rotate(180deg);
}
