.my-work{
  position: relative;
  background: #f0efe9;
}

.my-work__headerbox{
  padding: 55px 0;
  background: #faf8f0;
}

.my-work__back{
  @extend .icon-works_header;
  margin: 0 auto;
  position: relative;
}

.my-work__header{
  text-align: center;
  width: 300px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}



