/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-about_bg_left {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 901px;
  height: 1013px;
}
.icon-about_bg_right {
  background-image: url(../img/sprite.png);
  background-position: -951px 0px;
  width: 900px;
  height: 1009px;
}
.icon-about_header {
  background-image: url(../img/sprite.png);
  background-position: -1226px -1474px;
  width: 499px;
  height: 175px;
}
.icon-arrow_down {
  background-image: url(../img/sprite.png);
  background-position: -2335px -390px;
  width: 26px;
  height: 16px;
}
.icon-bg {
  background-image: url(../img/sprite.png);
  background-position: 0px -1063px;
  width: 1800px;
  height: 361px;
}
.icon-blog_header {
  background-image: url(../img/sprite.png);
  background-position: -1901px -215px;
  width: 303px;
  height: 208px;
}
.icon-github {
  background-image: url(../img/sprite.png);
  background-position: -2334px -300px;
  width: 26px;
  height: 22px;
}
.icon-hamburger {
  background-image: url(../img/sprite.png);
  background-position: -2254px -215px;
  width: 40px;
  height: 35px;
}
.icon-in {
  background-image: url(../img/sprite.png);
  background-position: -2037px -473px;
  width: 24px;
  height: 22px;
}
.icon-map_marker {
  background-image: url(../img/sprite.png);
  background-position: -2254px -300px;
  width: 30px;
  height: 40px;
}
.icon-portf_arrow_left {
  background-image: url(../img/sprite.png);
  background-position: -1901px -473px;
  width: 18px;
  height: 29px;
}
.icon-portf_arrow_right {
  background-image: url(../img/sprite.png);
  background-position: -1969px -473px;
  width: 18px;
  height: 29px;
}
.icon-portfolio_header {
  background-image: url(../img/sprite.png);
  background-position: 0px -1474px;
  width: 1176px;
  height: 313px;
}
.icon-quot {
  background-image: url(../img/sprite.png);
  background-position: -2344px -215px;
  width: 33px;
  height: 29px;
}
.icon-vk {
  background-image: url(../img/sprite.png);
  background-position: -2254px -390px;
  width: 31px;
  height: 17px;
}
.icon-works_header {
  background-image: url(../img/sprite.png);
  background-position: -1901px 0px;
  width: 506px;
  height: 165px;
}
