/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$about-bg-left-name: 'about_bg_left';
$about-bg-left-x: 0px;
$about-bg-left-y: 0px;
$about-bg-left-offset-x: 0px;
$about-bg-left-offset-y: 0px;
$about-bg-left-width: 901px;
$about-bg-left-height: 1013px;
$about-bg-left-total-width: 2977px;
$about-bg-left-total-height: 1687px;
$about-bg-left-image: 'sprite.png';
$about-bg-left: (0px, 0px, 0px, 0px, 901px, 1013px, 2977px, 1687px, 'sprite.png', 'about_bg_left', );
$about-bg-right-name: 'about_bg_right';
$about-bg-right-x: 901px;
$about-bg-right-y: 0px;
$about-bg-right-offset-x: -901px;
$about-bg-right-offset-y: 0px;
$about-bg-right-width: 900px;
$about-bg-right-height: 1009px;
$about-bg-right-total-width: 2977px;
$about-bg-right-total-height: 1687px;
$about-bg-right-image: 'sprite.png';
$about-bg-right: (901px, 0px, -901px, 0px, 900px, 1009px, 2977px, 1687px, 'sprite.png', 'about_bg_right', );
$arrow-down-name: 'arrow_down';
$arrow-down-x: 2225px;
$arrow-down-y: 313px;
$arrow-down-offset-x: -2225px;
$arrow-down-offset-y: -313px;
$arrow-down-width: 26px;
$arrow-down-height: 16px;
$arrow-down-total-width: 2977px;
$arrow-down-total-height: 1687px;
$arrow-down-image: 'sprite.png';
$arrow-down: (2225px, 313px, -2225px, -313px, 26px, 16px, 2977px, 1687px, 'sprite.png', 'arrow_down', );
$bg-name: 'bg';
$bg-x: 0px;
$bg-y: 1013px;
$bg-offset-x: 0px;
$bg-offset-y: -1013px;
$bg-width: 1800px;
$bg-height: 361px;
$bg-total-width: 2977px;
$bg-total-height: 1687px;
$bg-image: 'sprite.png';
$bg: (0px, 1013px, 0px, -1013px, 1800px, 361px, 2977px, 1687px, 'sprite.png', 'bg', );
$blog-header-name: 'blog_header';
$blog-header-x: 1801px;
$blog-header-y: 313px;
$blog-header-offset-x: -1801px;
$blog-header-offset-y: -313px;
$blog-header-width: 303px;
$blog-header-height: 208px;
$blog-header-total-width: 2977px;
$blog-header-total-height: 1687px;
$blog-header-image: 'sprite.png';
$blog-header: (1801px, 313px, -1801px, -313px, 303px, 208px, 2977px, 1687px, 'sprite.png', 'blog_header', );
$github-name: 'github';
$github-x: 2144px;
$github-y: 313px;
$github-offset-x: -2144px;
$github-offset-y: -313px;
$github-width: 26px;
$github-height: 22px;
$github-total-width: 2977px;
$github-total-height: 1687px;
$github-image: 'sprite.png';
$github: (2144px, 313px, -2144px, -313px, 26px, 22px, 2977px, 1687px, 'sprite.png', 'github', );
$hamburger-name: 'hamburger';
$hamburger-x: 2104px;
$hamburger-y: 313px;
$hamburger-offset-x: -2104px;
$hamburger-offset-y: -313px;
$hamburger-width: 40px;
$hamburger-height: 35px;
$hamburger-total-width: 2977px;
$hamburger-total-height: 1687px;
$hamburger-image: 'sprite.png';
$hamburger: (2104px, 313px, -2104px, -313px, 40px, 35px, 2977px, 1687px, 'sprite.png', 'hamburger', );
$in-name: 'in';
$in-x: 2170px;
$in-y: 313px;
$in-offset-x: -2170px;
$in-offset-y: -313px;
$in-width: 24px;
$in-height: 22px;
$in-total-width: 2977px;
$in-total-height: 1687px;
$in-image: 'sprite.png';
$in: (2170px, 313px, -2170px, -313px, 24px, 22px, 2977px, 1687px, 'sprite.png', 'in', );
$map-marker-name: 'map_marker';
$map-marker-x: 2104px;
$map-marker-y: 348px;
$map-marker-offset-x: -2104px;
$map-marker-offset-y: -348px;
$map-marker-width: 30px;
$map-marker-height: 40px;
$map-marker-total-width: 2977px;
$map-marker-total-height: 1687px;
$map-marker-image: 'sprite.png';
$map-marker: (2104px, 348px, -2104px, -348px, 30px, 40px, 2977px, 1687px, 'sprite.png', 'map_marker', );
$portf-arrow-down-name: 'portf_arrow_down';
$portf-arrow-down-x: 2134px;
$portf-arrow-down-y: 348px;
$portf-arrow-down-offset-x: -2134px;
$portf-arrow-down-offset-y: -348px;
$portf-arrow-down-width: 18px;
$portf-arrow-down-height: 29px;
$portf-arrow-down-total-width: 2977px;
$portf-arrow-down-total-height: 1687px;
$portf-arrow-down-image: 'sprite.png';
$portf-arrow-down: (2134px, 348px, -2134px, -348px, 18px, 29px, 2977px, 1687px, 'sprite.png', 'portf_arrow_down', );
$portf-arrow-up-name: 'portf_arrow_up';
$portf-arrow-up-x: 2152px;
$portf-arrow-up-y: 348px;
$portf-arrow-up-offset-x: -2152px;
$portf-arrow-up-offset-y: -348px;
$portf-arrow-up-width: 18px;
$portf-arrow-up-height: 29px;
$portf-arrow-up-total-width: 2977px;
$portf-arrow-up-total-height: 1687px;
$portf-arrow-up-image: 'sprite.png';
$portf-arrow-up: (2152px, 348px, -2152px, -348px, 18px, 29px, 2977px, 1687px, 'sprite.png', 'portf_arrow_up', );
$portfolio-header-name: 'portfolio_header';
$portfolio-header-x: 1801px;
$portfolio-header-y: 0px;
$portfolio-header-offset-x: -1801px;
$portfolio-header-offset-y: 0px;
$portfolio-header-width: 1176px;
$portfolio-header-height: 313px;
$portfolio-header-total-width: 2977px;
$portfolio-header-total-height: 1687px;
$portfolio-header-image: 'sprite.png';
$portfolio-header: (1801px, 0px, -1801px, 0px, 1176px, 313px, 2977px, 1687px, 'sprite.png', 'portfolio_header', );
$portfolio-header1-name: 'portfolio_header1';
$portfolio-header1-x: 0px;
$portfolio-header1-y: 1374px;
$portfolio-header1-offset-x: 0px;
$portfolio-header1-offset-y: -1374px;
$portfolio-header1-width: 1176px;
$portfolio-header1-height: 313px;
$portfolio-header1-total-width: 2977px;
$portfolio-header1-total-height: 1687px;
$portfolio-header1-image: 'sprite.png';
$portfolio-header1: (0px, 1374px, 0px, -1374px, 1176px, 313px, 2977px, 1687px, 'sprite.png', 'portfolio_header1', );
$vk-name: 'vk';
$vk-x: 2194px;
$vk-y: 313px;
$vk-offset-x: -2194px;
$vk-offset-y: -313px;
$vk-width: 31px;
$vk-height: 17px;
$vk-total-width: 2977px;
$vk-total-height: 1687px;
$vk-image: 'sprite.png';
$vk: (2194px, 313px, -2194px, -313px, 31px, 17px, 2977px, 1687px, 'sprite.png', 'vk', );
$spritesheet-width: 2977px;
$spritesheet-height: 1687px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($about-bg-left, $about-bg-right, $arrow-down, $bg, $blog-header, $github, $hamburger, $in, $map-marker, $portf-arrow-down, $portf-arrow-up, $portfolio-header, $portfolio-header1, $vk, );
$spritesheet: (2977px, 1687px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
