.tooltip{
  background: #e44845;
  width: 200px;
  text-align: center;
  padding: 10px;
  color: $white;
  font-size: 14px;
  border-radius: 4px;
  position: absolute;
  left: 100%;
  top:50%;
  transform: translateY(-50%);
  display: none;
  z-index: 40;


  &:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #e44845;
    position: absolute;
    top:50%;
    left: -20px;
    transform: translateY(-50%);
  }
}

.tooltip__check {
  top: 20px;
  left: 90%;
}

.tooltip__radio{
  top: 0;
  left: 0;
}