head
    meta(charset = 'utf8')
    meta(name='wiewport' content='width=device-width')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name='keywords' content="")
    meta(name='description' content='Учебный сайт Лофтскул')
    meta(name='author' content="E.Malyugina")
    link(rel="icon" type="image/png" href="assets/img/just/fav_mount.png")
    link(rel="stylesheet" href="assets/css/foundation.css")
    link(rel="stylesheet" href="assets/css/app.css")

    title=(pageTitle)




