section.about-me
    div.triangle
        .triangle-item.triangle__left
            svg.svg__left(width="200" height="150" viewBox="0 0 200 150" preserveAspectRatio="none")
                polygon.triangle__left(points="0,0 0,150 200,150" fill="#efeee9")
        .triangle-item.triangle__right
            svg.svg__right(width="200" height="150" viewBox="0 0 200 150" preserveAspectRatio="none" )
                polygon.triangle__left(points="200,0 200,150 0,150" fill="#eeebdf")
    .container.container__about-me
        div.about-me__about
            .about-me__back
                h2.big-header.about-me__header Обо мне
            div.about-me__description
                div.about-me__photo
                    img(src="assets/img/just/my_photo.jpg")
                h3.header_decor.description__header Кто я
                div.text.description__p
                    p.
                        Я веб-разработчик из Москвы, занимаюсь
                        разработкой современных сайтов и приложений.
                        Мне нравится делать интересные и современные проекты с визуальными эффектами.
                    p.
                        Этот сайт был сделан в рамках обучения в Школе онлайн-образования Loftschool.
                        Чуть позже я обновлю контент на сайте. А пока посмотрите, какой он классный!

        div.about-me__good
            h3.header_decor.good__header Чем я могу быть вам полезна
            div.text.good__description
                p.
                    Больше всего меня привлекает фронтэнд-разработка, но я могу решать и не очень сложные задачи бэкэнда.
                    Но давайте по порядку
            ul.good__skills
                li.skills Frontend
                    ul.skills__item
                        li.skills__li
                            span.skills__name HTML5
                            svg.skills__circle(width="130" height="130")
                                circle.circle__out(r="50" cx="65" cy="65" stroke="#ccc" fill="none" )
                                circle.circle__in.circle__html(r="50" cx="65" cy="65" stroke="#00bfa5" transform="rotate(-90 65 65)")
                        li.skills__li
                            span.skills__name CSS3
                            svg.skills__circle(width="130" height="130")
                                circle.circle__out(r="50" cx="65" cy="65" stroke="#ccc" fill="none" )
                                circle.circle__in.circle__css(r="50" cx="65" cy="65" stroke="#00bfa5" transform="rotate(-90 65 65)")
                        li.skills__li
                            span.skills__name Javascript и Jquery
                            svg.skills__circle(width="130" height="130")
                                circle.circle__out(r="50" cx="65" cy="65" stroke="#ccc" fill="none" )
                                circle.circle__in.circle__js(r="50" cx="65" cy="65" stroke="#00bfa5" transform="rotate(-90 65 65)")

                li.skills Backend
                    ul.skills__item
                        li.skills__li
                            span.skills__name PHP
                            svg.skills__circle(width="130" height="130")
                                circle.circle__out(r="50" cx="65" cy="65" stroke="#ccc" fill="none" )
                                circle.circle__in.circle__php(r="50" cx="65" cy="65" stroke="#00bfa5" transform="rotate(-90 65 65)")
                        li.skills__li
                            span.skills__name MySQL
                            svg.skills__circle(width="130" height="130")
                                circle.circle__out(r="50" cx="65" cy="65" stroke="#ccc" fill="none" )
                                circle.circle__in.circle__mysql(r="50" cx="65" cy="65" stroke="#00bfa5" transform="rotate(-90 65 65)")
                        li.skills__li
                            span.skills__name node.js и npm
                            svg.skills__circle(width="130" height="130")
                                circle.circle__out(r="50" cx="65" cy="65" stroke="#ccc" fill="none" )
                                circle.circle__in.circle__node(r="50" cx="65" cy="65" stroke="#00bfa5" transform="rotate(-90 65 65)")
                        li.skills__li
                            span.skills__name Mongo.db
                            svg.skills__circle(width="130" height="130")
                                circle.circle__out(r="50" cx="65" cy="65" stroke="#ccc" fill="none" )
                                circle.circle__in.circle__mongo(r="50" cx="65" cy="65" stroke="#00bfa5" transform="rotate(-90 65 65)")




                li.skills Workflow
                    ul.skills__item
                        li.skills__li
                            span.skills__name Git
                            svg.skills__circle(width="130" height="130")
                                circle.circle__out(r="50" cx="65" cy="65" stroke="#ccc" fill="none" )
                                circle.circle__in.circle__git(r="50" cx="65" cy="65" stroke="#00bfa5" transform="rotate(-90 65 65)")
                        li.skills__li
                            span.skills__name Gulp
                            svg.skills__circle(width="130" height="130")
                                circle.circle__out(r="50" cx="65" cy="65" stroke="#ccc" fill="none" )
                                circle.circle__in.circle__gulp(r="50" cx="65" cy="65" stroke="#00bfa5" transform="rotate(-90 65 65)")
                        li.skills__li
                            span.skills__name Bower
                            svg.skills__circle(width="130" height="130")
                                circle.circle__out(r="50" cx="65" cy="65" stroke="#ccc" fill="none" )
                                circle.circle__in.circle__bower(r="50" cx="65" cy="65" stroke="#00bfa5" transform="rotate(-90 65 65)")














