form.admin-new__form(action="" method="POST")
    h3.admin-new__header Добавить пользователя
    input.admin__input(type="text" name="new__name" placeholder="Имя")
    input.admin__input(type="password" name="new__pass" placeholder="Пароль")
    textarea(name="blog-text" placeholder="Комментарий")
    input.admin__submit(type="submit" value="Добавить")