h2.admin-section__header Обо мне
form.form__skill(method="POST" action="/assets/script/skills.php" )
    .admin__skill
        table.admin-skill__li
            tr
                th.admin-skill__type Frontend
            tr.skill-inner__li
                td.skill-admin__name HTML
                td
                    input(type='text' name='html' placeholder='0')
                td %
            tr.skill-inner__li
                td.skill-admin__name CSS
                td
                    input(type='text' name='css' placeholder='0')
                td %
            tr.skill-inner__li
                td.skill-admin__name JavaScript
                td
                    input(type='text' name='javascript' placeholder='0')
                td %

        table.admin-skill__li
                tr
                    th.admin-skill__type Backend
                tr.skill-inner__li
                    td.skill-admin__name PHP
                    td
                        input(type='text' name='php' placeholder='0')
                    td %
                tr.skill-inner__li
                    td.skill-admin__name MySQL
                    td
                        input(type='text' name='mysql' placeholder='0')
                    td %
                tr.skill-inner__li
                    td.skill-admin__name Node.js
                    td
                        input(type='text' name='node' placeholder='0')
                    td %
                tr.skill-inner__li
                    td.skill-admin__name Mongo.db
                    td
                        input(type='text' name='mongo' placeholder='0')
                    td %

        table.admin-skill__li
                tr
                    th.admin-skill__type Workflow
                tr.skill-inner__li
                    td.skill-admin__name Git
                    td
                        input(type='text' name='git' placeholder='0')
                    td %
                tr.skill-inner__li
                    td.skill-admin__name Gulp
                    td
                        input(type='text' name='gulp' placeholder='0')
                    td %
                tr.skill-inner__li
                    td.skill-admin__name Bower
                    td
                        input(type='text' name='bower' placeholder='0')
                    td %

    input.admin__submit(type="submit" value="Сохранить")





