h2.admin-section__header Страница Блог
form.admin-blog__form(action="" method="POST")
    h3.admin-blog__header Добавить запись
    input.admin__input(type="text" name="admin-blog__header" placeholder="Название")
    input.admin__input(type="text" name="admin-blog__date" placeholder="Дата")
    textarea(name="admin-blog__text" placeholder="Содержание")
    input.admin__submit(type="submit" value="Добавить")

