h2.admin-section__header Страница"Мои работы"
form.admin-work__form(action="" method="POST")
    h3.admin-blog__header Добавить работу
    input.admin__input(type="text" name="admin-project" placeholder="Название проекта")
    input.admin__input(type="text" name="admin-tech" placeholder="Технологии")
    input.admin__input(type="file" name="blog-text")
    input.admin__submit(type="submit" value="Добавить")