div.userbox.userbox_auth.userbox_hide
    //-блок авторизациии
    form.form__auth(action="assets/script/res.php" method="POST")
        h2.header_decor.header__auth Авторизуйтесь
        .block__input_auth
            label.auth__input(for="login")
                div.input__icon
                    svg
                        use(xlink:href="assets/img/svg/sprite.svg#login")
                input.input__window.login(type="text" name="login" id="login" placeholder="Логин")
                .tooltip Введите логин
            label.auth__input(for="password")
                div.input__icon
                    svg
                        use(xlink:href="assets/img/svg/sprite.svg#password")
                input.input__window.password(type="password" name="password" id="password" placeholder="Пароль")
                .tooltip Введите пароль
            div.check__block-auth
                label.label.label_check(for="is-man")
                    input.check__auth(type="checkbox" name="is-man" id="is-man" value="man")
                    span.check__decor
                        span.check__decor-in
                    span.check__text Я человек
                    .tooltip.tooltip__check Это обязательно
            .div.radio__block-auth
                .radio__question Вы точно не робот?
                .radio__wrapper
                    label.label.label__radio(for="not_robot")
                        input.auth__radio(type="radio" name="robot" id="not_robot" value="not_robot")
                        span.radio__decor
                            span.radio__decor-in
                        span.label__text Да
                    label.label.label__radio(for="robot")
                        input.auth__radio(type="radio" name="robot" id="robot" value="robot" checked)
                        span.radio__decor
                            span.radio__decor-in
                        span.label__text Не уверен
                        .tooltip.tooltip__radio Это обязательно

            .result


        ul.userbox__tabs
           li.userbox__tab-el.utab__index
                a.Utab__link(href="index.html") На главную
           li.userbox__tab-el.utab__auth
                input.Utab__link.conn__button.button__auth(type="submit" value="Войти")




