div.userbox.userbox_auth
    //-блок авторизациии
    form.form__auth(action="" method="post")
        h2.header_decor.header__auth Авторизуйтесь
        input.auth__input(type="text" name="login" placeholder="Логин")
        input.auth__input(type="password" name="password" placeholder="Пароль")
        label я человек
            input(type="checkbox" name="isMan" value="man")
        div.radio
            span Вы точно не робот?
            input.auth__radio(type="radio" name="robot" value="not_robot")
            input.auth__radio(type="radio" name="robot" value="not_sure")

    ul.userbox__tabs
       li.userbox__tab-el
            a.Utab__link(href="#") На главную
       li.userbox__tab-el
            a.Utab__link(href="#") Войти




