section.blog
    aside.blog__menu
        ul.blog__nav
            li.blog__li Статья 1
            li.blog__li Статья 2
            li.blog__li Статья 3
            li.blog__li Статья 4
            li.blog__li Статья 5

    div.blog__column
        ul.blog__article
            li.article
