section.blog
    //svg.top__left(width="1800" height="300")
        polygon.triangle__left(points="0,0 0,1800 1800,300" fill="#faf8f0")
    //svg.top__right(width="1800" height="300")
        polygon.triangle__left(points="1800,0 1800,300 0,300" fill="#faf8f0")
    aside.blog__menu
        ul.blog__nav
            li.blog__li Статья 1
            li.blog__li Статья 2
            li.blog__li Статья 3
            li.blog__li Статья 4
            li.blog__li Статья 5

    div.blog__column
        ul.blog__article
            li.article
