section.contacts
    h3.header_decor.contacts__header Контакты
    ul.contact__list
        li.contact__li
            a.contact__link(href="skype:elena.elena9812?chat")
                svg.contact__icon
                    use(xlink:href="assets/img/svg/sprite.svg#skype")
                span.contact__text elena.elena9812
        li.contact__li
            a.contact__link(href="mailto:malyugina.el@yandex.ru")
                svg.contact__icon
                    use(xlink:href="assets/img/svg/sprite.svg#envelope")
                span.contact__text malyugina.el@yandex.ru
        li.contact__li
            a.contact__link(href="mailto:malyugina.el@yandex.ru")
                svg.contact__icon
                    use(xlink:href="assets/img/svg/sprite.svg#map_marker")
                span.contact__text г.Москва