section.contacts
    h3.header_decor.contacts__header Контакты
    ul.contact__list
        li.contact__li
            a.contact__link(href="skype:elena.elena9812?chat")
                i.contact__icon.fa.fa-skype
                span.contact__text elena.elena9812
        li.contact__li
            a.contact__link(href="mailto:malyugina.el@yandex.ru")
                i.contact__icon.fa.fa-envelope
                span.contact__text malyugina.el@yandex.ru
        li.contact__li
           a.contact__link(href="tel:+123456780")
                i.contact__icon.fa.fa-phone
                span.contact__text +7 111 111 11 11
        li.contact__li
            a.contact__link(href="mailto:malyugina.el@yandex.ru")
                i.contact__icon.fa.fa-map-marker
                span.contact__text г.Москва