footer.footer.footer_blog
    div.footer__top
        div.container.container__footer-top
            ul.footer-nav__item
                li.footer-nav__li
                    a.footer-nav__a(href="my_works.html") Moи работы
                li.footer-nav__li
                    a.footer-nav__a(href="about_me.html") Обо мне
                li.footer-nav__li
                    a.footer-nav__a(href="blog.html") Блог
                li.footer-nav__li
                    a.footer-nav__a(href="#") Авторизация
            ul.footer__socicon
                li.footer-socicon__li
                    a.footer-socicon__a(href="https://vk.com/id361803656" target='_blank')
                        span.socicon_hidden Вконтакте
                        i(class="fa fa-vk")
                li.footer-socicon__li
                    a.footer-socicon__a(href="https://github.com/ElenaMalyugina" target="_blank")
                        span.socicon_hidden Github
                        i(class="fa fa-github-alt")
                li.footer-socicon__li
                    a.footer-socicon__a(href="#" target="_blank")
                        span.socicon_hidden linkedin
                        i(class="fa fa-linkedin")

    div.footer__bottom
        div.container.container__footer-bottom
            div.footer__who.
             Я веб-разработчик из Москвы и этот сайт сделан
             в рамках обучения в Школе онлайн-образования Лофтскул
            div.footer__copyright
                include copyright
