footer.footer
    div.footer__top
        div.container.container__footer-top
            ul.footer-nav__item

                for i in elem
                    li.footer-nav__li
                        a.footer-nav__a(href=i.href)=i.name

            ul.footer__socicon
                for el in socicon
                    li.footer-socicon__li
                        a.footer-socicon__a(href=el.href target='_blank')
                            span.socicon_hidden=el.name
                            svg
                                use(xlink:href=el.svg+'_round')


    div.footer__bottom
        div.container.container__footer-bottom
            div.footer__who.
             Я веб-разработчик из Москвы и этот сайт сделан
             в рамках обучения в Школе онлайн-образования Лофтскул
            div.footer__copyright
                include copyright
