header.header
    .container.header__container
        div.header__background
        a.index__link(href="index.html" title="На первую страницу")
            div.header__userbox
                div.header__user-photo
                    img(src="assets/img/just/my_photo.JPG")
                h1.header__user-header Елена Mалюгинa
                h3.header__user-descr Личный сайт веб-разработчика
        ul.header__socicon-header
            li.socicon-header__li
                a.socicon-header__a(href="https://vk.com/id361803656" target='_blank')
                    span.socicon_hidden Вконтакте
                    i(class="socicon-header__icon fa fa-vk")
            li.socicon-header__li
                a.socicon-header__a(href="https://github.com/ElenaMalyugina" target="_blank")
                    span.socicon_hidden Github
                    i(class="socicon-header__icon fa fa-github-alt")
            li.socicon-header__li
                a.socicon-header__a(href="#" target="_blank")
                    span.socicon_hidden linkedin
                    i(class="socicon-header__icon fa fa-linkedin")
        a.hamburger(href="#")
            span.socicon_hidden Куда-то
        a.saggit.saggit_up(href="#")
            span.socicon_hidden Вниз
            i(class="header__icon fa fa-chevron-down")

