header.header
    include parallax
    .container.header__container

        div.header__background
            svg
               use(xlink:href="assets/img/svg/sprite.svg#portfolio_header" fill="#FFF")
        a.index__link(href="index.html" title="На первую страницу")
            div.header__userbox
                div.header__user-photo
                    img(src="assets/img/just/my_photo.jpg")
                h1.header__user-header Елена Mалюгинa
                h3.header__user-descr Личный сайт веб-разработчика
        ul.header__socicon-header
            li.socicon-header__li
                a.socicon-header__a(href="https://vk.com/id361803656" target='_blank')
                    span.socicon_hidden Вконтакте
                    svg
                        use(xlink:href="assets/img/svg/sprite.svg#vk")
            li.socicon-header__li
                a.socicon-header__a(href="https://github.com/ElenaMalyugina" target="_blank")
                    span.socicon_hidden Github
                    svg
                        use(xlink:href="assets/img/svg/sprite.svg#github")
            li.socicon-header__li
                a.socicon-header__a(href="#" target="_blank")
                    span.socicon_hidden linkedin
                    svg
                        use(xlink:href="assets/img/svg/sprite.svg#in")
        a.hamburger(href="#")
            svg
                use(xlink:href="assets/img/svg/sprite.svg#hamburger" )
            span.socicon_hidden Куда-то
        a.saggit.saggit_down(href=".content")
            span.socicon_hidden Вниз
            svg
                use(xlink:href="assets/img/svg/sprite.svg#arrow_down" )




