header.header.header_blog
    .container.header__container.header__container_blog
        div.header__background_blog
        a.index__link.inner__link_blog(href="index.html" title="На первую страницу")
            div.header__userbox.header__userbox_blog
                div.header__user-photo.header__user-foto_blog
                    img(src="assets/img/just/my_photo.JPG")
                h1.header_decor.header__user-header_blog Блог
                h3.header__user-descr.header__user-descr_blog Статьи, которые я написала
        ul.header__socicon-header
            li.socicon-header__li
                a.socicon-header__a(href="https://vk.com/id361803656" target='_blank')
                    span.socicon_hidden Вконтакте
                    i(class="socicon-header__icon fa fa-vk")
            li.socicon-header__li
                a.socicon-header__a(href="https://github.com/ElenaMalyugina" target="_blank")
                    span.socicon_hidden Github
                    i(class="socicon-header__icon fa fa-github-alt")
            li.socicon-header__li
                a.socicon-header__a(href="#" target="_blank")
                    span.socicon_hidden linkedin
                    i(class="socicon-header__icon fa fa-linkedin")
        a.hamburger(href="#")
            span.socicon_hidden Куда-то
