div.modal
    ul.modal__nav
        li.modal__li
            a.big-header.modal__link(href="my_works.html") Мои работы
        li.modal__li
            a.big-header.modal__link(href="blog.html") Блог
        li.modal__li
            a.big-header.modal__link(href="about_me.html") Обо мне
        li.modal__li
            a.big-header.modal__link(href="index.html") Авторизация
    .container.container__cross
        a.cross(href="#")
            svg(width='40' height='40' viewBox='0 0 40 40')
                line(x1='0' y1='0' x2='40' y2='40'  viewBox='0 0 40 40')
                line(x1='40' y1='0' x2='0' y2='40'  viewBox='0 0 40 40' )

