div.modal
    ul.modal__nav
        li.modal__li
            a.big-header.modal__link(href="my_works.html") Мои работы
        li.modal__li
            a.big-header.modal__link(href="blog.html") Блог
        li.modal__li
            a.big-header.modal__link(href="about_me.html") Обо мне
        li.modal__li
            a.big-header.modal__link(href="index.html") Авторизация
    .modal_left
    .modal_right
