section.my-work
    div.triangle
        .triangle-item.triangle__left
            svg.svg__left.svg__left_works(width="200" height="150" viewBox="0 0 200 150" preserveAspectRatio="none")
                polygon.triangle__left(points="0,0 0,150 200,150")
        .triangle-item.triangle__right
            svg.svg__right.svg__right_works(width="200" height="150" viewBox="0 0 200 150" preserveAspectRatio="none" )
                polygon.triangle__left(points="200,0 200,150 0,150")
    div.my-work__headerbox
        .container.my_work__container
            //- чтобы не резался бэкгарунд и в то же время был контейнер на странице
            .my-work__back
                svg
                    use(xlink:href="assets/img/svg/sprite.svg#works_header")

                h2.big-header.my-work__header Мои работы
    div.my-works__slider
        .container.my_work__container
            div.controll
                a.saggit__pre(href="#")
                    svg
                        use(xlink:href="assets/img/svg/sprite.svg#arrow_down")
                a.saggit__next(href="#")
                    svg
                        use(xlink:href="assets/img/svg/sprite.svg#arrow_down")
            div.slider_window
                ul.slider__circ
                    li.slider-toggle.slider-toggle_active
                        a(href="#")
                            span.toggle_slide
                                span.toggle-in
                    li.slider-toggle
                        a(href="#")
                            span.toggle_slide
                                span.toggle-in
                    li.slider-toggle
                        a(href="#")
                            span.toggle_slide
                                span.toggle-in
                    li.slider-toggle
                        a(href="#")
                            span.toggle_slide
                                span.toggle-in
                ul.slider__item
                    li.slider__li.slider__li_active#0
                        div.slider__left
                            img(src="assets/img/mywork/work-1.png")
                        div.slider__right
                            h3.about-work__header Сайт школы онлайн-образования
                            div.about-work__tech HTML, CSS, Javascript
                            a.about-work__link(href="#" target="_blank")
                                svg.about-work__icon
                                    use(xlink:href="assets/img/svg/sprite.svg#link")
                                span.about-work__text-link Посмотреть сайт
                    li.slider__li#1
                        div.slider__left
                            img(src="assets/img/mywork/work-2.png")
                        div.slider__right
                            h3.about-work__header Сайт IT-Loft
                            div.about-work__tech HTML, CSS, Javascript
                            a.about-work__link(href="#" target="_blank")
                                svg.about-work__icon
                                    use(xlink:href="assets/img/svg/sprite.svg#link")
                                span.about-work__text-link Посмотреть сайт
                    li.slider__li#2
                        div.slider__left
                            img(src="assets/img/mywork/work-3.png")
                        div.slider__right
                            h3.about-work__header Сайт LoftBlog
                            div.about-work__tech HTML, CSS, Javascript
                            a.about-work__link(href="#" target="_blank")
                                svg.about-work__icon
                                    use(xlink:href="assets/img/svg/sprite.svg#link")
                                span.about-work__text-link Посмотреть сайт
                    li.slider__li#3
                        div.slider__left
                            img(src="assets/img/mywork/work-4.png")
                        div.slider__right
                            h3.about-work__header Сайт Атма-йога
                            div.about-work__tech HTML, CSS, Javascript
                            a.about-work__link(href="#" target="_blank")
                                svg.about-work__icon
                                    use(xlink:href="assets/img/svg/sprite.svg#link")
                                span.about-work__text-link Посмотреть сайт

section.my-work__talk
    .container.my-talk__container
        .talk__back
            svg
                use(xlink:href="assets/img/svg/sprite.svg#about_header")
            h2.big-header.talk__header Что обо мне говорят
        ul.talk__item
            li.talk__li
                blockquote.talk__cite
                    cite.
                        Эта девушка проходила обучение не где-то, а в Loftschool.
                        Два месяца самых современных технологий и бессонных ночей.
                div.cite__author
                    div.cite__img
                        img(src="assets/img/just/kovalchuk.jpg")
                    div.cite__who
                        div.who__name Дмитрий Ковальчук
                        div.who__description Основатель Loftschool
            li.talk__li
                blockquote.talk__cite
                    cite.
                        Этот код выдерживает любые испытания.
                        Только, пожалуйста, не загружайте его на слишком старых браузерах
                div.cite__author
                    div.cite__img
                        img(src="assets/img/just/zaharov.jpg")
                    div.cite__who
                        div.who__name Зар Захаров
                        div.who__description Преподаватель Loftschool

        form.form__connect(action="#" method="post")
            .block__input-conn
                h3.header_decor.header__form Связаться со мной
                .input__wrapper
                    input.form-connect__el.conn__input.input__name(type="text" placeholder="Имя" name="name")#name
                    .tooltip Заполните имя
                .input__wrapper
                    input.form-connect__el.conn__input.input__email(type="text" placeholder="Email" name="email")#email
                    .tooltip Введите правильный Email
                .input__wrapper
                    textarea.form-connect__el.conn__textarea(type="textarea" placeholder="Текст сообщения" name="text")#message
                    .tooltip Напишите текст
            .block__button-conn
                input(type="submit").conn__button
                input(type="reset" value="Очистить").conn__button

        a.saggit.saggit_up(href=".header")
            span.socicon_hidden Вверх
            svg
                use(xlink:href="assets/img/svg/sprite.svg#arrow_down")

