div.parallax__container
    div.parallax__layer.layer1
        img(src="assets/img/parallax/layer1.png")
    div.parallax__layer.layer2
        img(src="assets/img/parallax/layer2.png")
    div.parallax__layer.layer3
        img(src="assets/img/parallax/layer3.png")
    div.parallax__layer.layer4
        img(src="assets/img/parallax/layer4.png")
    div.parallax__layer.layer5
        img(src="assets/img/parallax/layer5.png")
    div.parallax__layer.layer6
        img(src="assets/img/parallax/layer6.png")
    div.parallax__layer.layer7
        img(src="assets/img/parallax/layer7.png")
    div.parallax__layer.layer8
        img(src="assets/img/parallax/layer8.png")
    div.parallax__layer.layer9
        img(src="assets/img/parallax/layer9.png")
    div.parallax__layer.layer10
        img(src="assets/img/parallax/layer10.png")
