doctype html
html(lang="ru")
    include _head
    block title
    body
        .wrapper
            include header
            .content
                block content
            include footer
        include script.pug