doctype html
html(lang="ru")
    include _head
    block title
    block vars
    body
        .wrapper
            include header
            .content
                block content
        include footer

        include preloader
        include modal
        block script
