doctype html
html(lang="ru")
    include _head
    block title
    title Мой блог
    body
        .wrapper
            include header_blog
            block content

        include footer


        include script.pug