doctype html
html(lang="ru")
    include _head
    block title
    title Мой блог
    body
        .wrapper
            include header_blog
            .content
                block content
        include footer_blog


        include script.pug