div.userbox.userbox_js
    //-блок пользователя
    div.userbox__img
        img(src="assets/img/just/my_photo.jpg" alt="Фото Елены")
    h1.userbox__header Елена Mалюгина
    h3.userbox__descr Личный сайт веб-разработчика

    ul.socicon__menu
        include variables
        for elem in socicon
            li.socicon__li
                a.socicon__a(href=elem.href)
                    span.socicon_hidden=elem.name
                    svg
                        use(xlink:href=elem.svg)


    ul.userbox__tabs
        include variables
            -for(var i=0; i<3; i++){
                li.userbox__tab-el
                    a.Utab__link(href=elem[i].href)=elem[i].name
            -}

a.author(href="#") Авторизоваться


