div.userbox
    //блок пользователя
    div.userbox__img
        img(src="assets/img/just/my_photo.jpg" alt="Фото Елены")
    h1.userbox__header Елена Mалюгина
    h3.userbox__descr Личный сайт веб-разработчика

    ul.socicon__menu
        li.socicon__li
            a.socicon__a(href="https://vk.com/id361803656" target='_blank')
                span.socicon_hidden Вконтакте
                i(class="fa fa-vk")
        li.socicon__li
            a.socicon__a(href="https://github.com/ElenaMalyugina" target="_blank")
                span.socicon_hidden Github
                i(class="fa fa-github-alt")
        li.socicon__li
            a.socicon__a(href="#" target="_blank")
                span.socicon_hidden linkedin
                i(class="fa fa-linkedin")

    ul.userbox__tabs
        li.userbox__tab-el
            a.Utab__link(href="my_works.html") Мои работы
        li.userbox__tab-el
            a.Utab__link(href="about_me.html") Обо мне
        li.userbox__tab-el
            a.Utab__link(href="blog.html") Блог


