-var elem=[{name:'Мои работы', href:'my_works.html'},{name:'Обо мне', href:'about_me.html'},{name:'Блог', href:'blog.html'},{name:'Авторизация', href:'index.html'}]

-var socicon=[{href:'https://vk.com/id361803656', name:'Вконтакте', svg:"assets/img/svg/sprite.svg#vk"},{href:'https://github.com/ElenaMalyugina', name:'Github', svg:"assets/img/svg/sprite.svg#github"},{href:'#', name:'linkedin', svg:"assets/img/svg/sprite.svg#in"}]