-var elem=[{name:'Мои работы', href:'my_works.html'},{name:'Обо мне', href:'about_me.html'},{name:'Блог', href:'blog.html'},{name:'Авторизация', href:'index.html'}]

-var socicon=[{href:'https://vk.com/id361803656', name:'Вконтакте', svg:"assets/img/svg/sprite.svg#vk"},{href:'https://github.com/ElenaMalyugina', name:'Github', svg:"assets/img/svg/sprite.svg#github"},{href:'#', name:'linkedin', svg:"assets/img/svg/sprite.svg#in"}]

-var slider=[{img:"assets/img/mywork/work-1.png", name: 'Сайт школы онлайн-образования', tech:'HTML, CSS, Javascript', href:'#'},{img:"assets/img/mywork/work-2.png", name:'Сайт IT-Loft', tech:'HTML, CSS, Javascript', href:'#'},{img:"assets/img/mywork/work-3.png", name:'Сайт ЛофтБлог', tech:'HTML, CSS, Javascript', href:'#'},{img:"assets/img/mywork/work-4.png", name:'Сайт Атма-Йога', tech:'HTML, CSS, Javascript', href:'#'}]