@font-face {
  font-family: 'BERNIERDistressed-Regular';
  src: url('BERNIERDistressed-Regular.eot');
  src: url('BERNIERDistressed-Regular.woff2') format('woff2'),
       url('BERNIERDistressed-Regular.woff') format('woff'),
       url('BERNIERDistressed-Regular.ttf') format('truetype'),
       url('BERNIERDistressed-Regular.svg#BERNIERDistressed-Regular') format('svg'),
       url('BERNIERDistressed-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BERNIERShade-Regular';
    src: url('BERNIERShade-Regular.eot');
    src: url('BERNIERShade-Regular.woff2') format('woff2'),
    url('BERNIERShade-Regular.woff') format('woff'),
    url('BERNIERShade-Regular.ttf') format('truetype'),
    url('BERNIERShade-Regular.svg#BERNIERShade-Regular') format('svg'),
    url('BERNIERShade-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BERNIERRegular-Regular';
    src: url('BERNIERRegular-Regular.eot');
    src: url('BERNIERRegular-Regular.woff2') format('woff2'),
    url('BERNIERRegular-Regular.woff') format('woff'),
    url('BERNIERRegular-Regular.ttf') format('truetype'),
    url('BERNIERRegular-Regular.svg#BERNIERRegular-Regular') format('svg'),
    url('BERNIERRegular-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

