extends ../common/template_general
block title
    title Обо мне
block content
    include ../common/about_me_content
    section.map_contain
        include ../common/map
        include ../common/contacts
block script
    include ../common/script
    script(src="http://maps.google.com/maps/api/js?key=AIzaSyDeOWlbUtv13_7hdtJ6KLGCPotM1DN7knQ&callback=initMap")

