doctype html
html(lang='ru').firstbody
    include ../common/_head.pug
    block title
        title Начальная страница
    body.firstbody
        include ../common/bhappy.pug
        .wrapper_first
            div.container.firstpage__container
                include ../common/userbox.pug
                include ../common/authbox.pug

                footer.copyright
                    include ../common/copyright

        include ../common/script.pug



