doctype html
html(lang='ru-RU')
    include ../common/_head.pug
    block title
        title Начальная страница
    body
        include ../common/bhappy.pug
        div.firstpage__container
            include ../common/userbox.pug
            a.author(href="#") Авторизоваться
            footer.copyright
                include ../common/copyright

        include ../common/script.pug



